{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'images/shopping1.jpeg' %}">
    <link rel="stylesheet" href="{% static 'css/first_style.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</head>
<body>





<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Bank</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'bankapp:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
        {% if user.is_authenticated %}
        <li class="nav-item active">
        <a class="nav-link">{{user.username}}</a>

      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'bankapp:logout' %}">Logout</a></li>
        {% else %}

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'bankapp:login' %}">login</a>

      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'bankapp:signup' %}">Register <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
      <li class = "btn-group">
          <button type = "button" class = "btn btn-default">Branch</button>

          <button type = "button" class = "btn btn-default dropdown-toggle" data-toggle = "dropdown">
             <span class = "caret"></span>
             <span class = "sr-only">Toggle Dropdown</span>
          </button>

          <ul class = "dropdown-menu" role = "menu">
             <li><a href = "https://en.wikipedia.org/wiki/Kozhikode">Calicut</a></li>
             <li><a href = "https://en.wikipedia.org/wiki/Kannur">Kannur</a></li>
             <li><a href = "https://en.wikipedia.org/wiki/Wayanad">Wayanad</a></li>
              <li><a href = "https://en.wikipedia.org/wiki/Trissur">Trissur</a></li>
             <li><a href = "https://en.wikipedia.org/wiki/Palakkad">Palakkad</a></li>


          </ul>
       </li>



        </ul>

  </div>
</nav>



<div>

    <img src="{% static 'images/img.png' %}" alt="Home Image" style="height: 650px; width: 1350px;">



</div>






</body>
</html>